@import '../../../../../styles.scss';

.home-wrapper{
  margin: 0 0 4rem 17.5rem;
  background: rgba(23,23,36);
  background: linear-gradient(90deg, rgba(23, 23, 36, 1) 44%, rgba(24, 24, 24) );
  min-height: 100vh;
}
